.container {
  width: 100vw;
  background-color: bisque;
  display: flex;
  flex-direction: column;
}

.user__info {
  width: 31rem;
  height: 52rem;
  background-color: aquamarine;
}

.items__info {
  width: 98rem;
  background-color: burlywood;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    display: flex;
    flex-direction: row;
  }

  .user__info {
    width: 31rem;
    height: 52rem;
    background-color: aquamarine;
  }

  .items__info {
    width: 98rem;
    height: 72.5rem;
    background-color: burlywood;
  }
}
